.thumbnail-container {
    text-align: center; /* Căn giữa hình ảnh thu nhỏ */
}

.img-thumbnail {
    width: 100px; /* Điều chỉnh kích thước hình ảnh thu nhỏ */
    height: auto; /* Đảm bảo tỷ lệ khung hình đúng */
    border: 1px solid #ddd; /* Thêm viền cho hình ảnh */
    border-radius: 4px; /* Làm tròn các góc */
}
.container1{
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
}

/* sport detail========================================*/

  .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 800px;
    width: 100%;
  }
  
  .large {
    grid-column: span 2;
    grid-row: span 2;
    background-color: #d96b6b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    max-width: 568px;
  
    border-radius: 10px;
  }
  
  .small {
    background-color: #d96b6b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
   max-width: 275px;
    border-radius: 10px;
  }

  .info-header {
    display: flex;
    align-items: center;
    font-size: 1.5rem; /* Adjust as needed */
    font-weight: bold;
    color: #1b2b46; /* Dark blue color as shown in the image */
  }
  
  .info-line {
    width: 5px;
    height: 30px;
    background-color: #FFD36E; /* Yellow vertical line color */
    margin-right: 10px;
  }
  
  .info-text {
    font-size: 1.25rem; /* Adjust the text size to match the design */
  }
  
  .extends {
    flex-wrap: wrap;
    border-radius: 8px;
    background: #F3F3F3;
    padding: 10px 15px;
}

.list-extends {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
}

.item-extends {
   
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    margin-top: 10px; /* Adds vertical space between rows */
}


.title{
    font-size: 16px;
    font-weight: 700;
  }

  .mb-3 {
    border-color: #1b2b46 !important;
   
  }
  