.packageUpdate {
    width: 100%;
    margin: auto;
    box-shadow: 2px 2px #e2dfdf;
    height: auto;
    border-radius: 0;
    border: 1px solid black;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .body-package {
        padding: 10px;
        margin: 0 10px;
        border-top: 2px solid silver;
        border-bottom: 2px solid silver;

        div {
            margin: 5px 0;
        }
    }

    .btn-sub {
        background-color: #142239;
        border: 1px solid #142239;
        margin: 10px 20px;

        &:hover {
            background-color: white;
            color: black;
            font-weight: 700;
        }
    }
}

// SEARCH SPORT
.search-sport {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/soccer-ball-goal.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .body-search-sport {
        width: 1600px;
        margin: 90px 0;
    }
}

.custom-border {
    position: relative;
    text-align: center;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 5px; // Độ dày của viền
        height: 50%; // Độ dài viền tùy chỉnh, bạn có thể điều chỉnh
        background-color: #6c757d; // Màu viền
    }

    &::before {
        left: 0;
        top: 25%; // Canh giữa
    }

    &::after {
        right: 0;
        top: 25%; // Canh giữa
    }
}