body{
    margin: 0;
    overflow-x: hidden;
    color: #313131;
    background: #fff;
}

.topbar {
    height: 60px;
    .nav-left {
        background: #fff;
        width: 280px;
        margin: 0px;
        padding: 0 10px 0 10px;
        line-height: 60px;
    }
    .nav-right{
        background: #2f323e;
    }
}
.sidebar-nav{
    ul {
        margin: 0px;
        padding: 0px;
    }
}
.white-box{
    background: #fff;
    padding: 25px;
    margin-bottom: 30px;
    height: 100%;
}
