.product-card {
    text-align: center;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(10, 10, 10, .15);
    border: 1px solid black;
    a {
        text-decoration: none;
        color: black;
    }
    .product-card-inner {
        .image-front {
            object-fit: cover;
            min-height: 250px;
            margin-bottom: 10px;
        }
        .product-category {
            font-size: 12px;
            line-height: 13px;
            font-weight: 400;
            text-transform: uppercase;
            color: #9c9b9b;
            margin-top: 10px;
            letter-spacing: 1px;
            margin-bottom: 5px;
            min-height: 13px;
        }
        .product-title {
            font-size: 14px;
            letter-spacing: 2.4px;
            font-weight: 500;
            text-transform: uppercase;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #dc3545;
            margin: 0 5px;
        }
        .product-price {
            font-size: 12px;
            font-weight: 500;
            color: black;
            line-height: 24px;
        }
    }
    &:hover .product-card-inner{
        .star-item, .product-title {
            opacity: 0;
            transition: opacity .3s;
        }
    }
    .product-card-action {
        margin-top: 15px;
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        will-change: transform;
        transform: translate3d(0, 100%, 0);
        transition: .3s ease-in-out;
        opacity: 0;
    }
    &:hover .product-card-action{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    .button-ajax {
        height: 55px;
        font-size: 13px;
        font-weight: 500;
        flex: 1;
        border: 1px solid;
        background: #fff;
        line-height: 48px;
        margin-bottom: 10px;
        color: black;
    }
}

.section-header {
    font-weight: 400;
    position: relative;
    text-align: center;
    top: 25px;
    .icon-sf {
        position: absolute;
        top: -40px;
        right: 535px;
    }
    h1 {
        color: #c4b998;
        .line-left {
            padding-left: 70px;
            vertical-align: middle;
            width: 30%;
            transform: rotate(180deg);
        }
        .diamond-left {
            position: relative;
            background-color: #142239;
            font-size: 0;
            &::before {
                height: 10px;
                width: 10px;
                position: absolute;
                top: -17px;
                transform: rotate(45deg);
                border: 1px solid #142239;
                content: " ";
                font-size: 0;
                left: -69px;
            }
        }
        .title {
            color: #142239;
            font-size: 24px;
            letter-spacing: 5px;
            position: relative;
            text-transform: uppercase;
            top: -4px;
        }
        .diamond-right {
            position: relative;
            background-color: #142239;
            font-size: 0;
            &::before {
                height: 10px;
                width: 10px;
                position: absolute;
                top: -16.7px;
                transform: rotate(45deg);
                border: 1px solid #142239;
                content: " ";
                font-size: 0;
                left: 59px;
            }
        }
        .line-right {
            padding-left: 70px;
            vertical-align: middle;
            width: 30%;
        }
    }
}