/*======================================================Address CSS Start======================================================*/
.item-address {
    background: #f8f8f8;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px dashed black;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-child {
        margin-bottom: 0;
    }

    .btn-address {
        cursor: pointer;
        font-size: 1.1rem !important;
        &:hover {
            text-shadow: 0 0 10px #142239;
        }
    }
}

/*======================================================Address CSS End======================================================*/
/*======================================================Order & Booking CSS Start======================================================*/
.search-date {
    flex-wrap: nowrap;

    .start {
        border-radius: 5px 0 0 5px;
        border-width: 1px 0px 1px 1px !important;
        border-style: solid;
        border-color: black;
    }

    .input-group-text {
        border-width: 1px 0;
        border-style: solid;
        border-color: black;
        background: #e9ecef;
    }

    .end {
        border-radius: 0 5px 5px 0;
        border-width: 1px 1px 1px 0px !important;
        border-style: solid;
        border-color: black;
    }
}

.box-table-border {
    border: 1px solid #142239;
    border-radius: 8px 8px 0 0;

    .table {
        text-align: center;

        thead {
            tr {
                th {
                    text-transform: uppercase;
                    background-color: #142239;
                    color: white;
                    font-weight: normal;

                    &:first-child {
                        border-radius: 8px 0 0 0;
                    }

                    &:last-child {
                        border-radius: 0 8px 0 0;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    font-size: 14px;
                    a {
                        text-decoration: none;
                        color: #142239;
                        font-weight: 700;
                    }

                    .badge {
                        width: 110px !important;
                    }
                }

                .title {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 220px;
                    min-width: 220px;
                }
            }
        }
    }
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    .page-item.active {
        .page-link {
            background: #142239 !important;
        }
    }
}
/*======================================================Order & Booking CSS End======================================================*/
/*======================================================Detail Order CSS Start======================================================*/
.detail-order {
    tr {
        td {
            text-align: center;
            vertical-align: middle;
        }
    }

    .total-money {
        td {
            background-color: #142239;
            color: white;
        }
    }
}
.btn-layout {
    display: flex !important;
    justify-content: flex-end !important;
    .btn-buyAgain {
        background-color: #142239;
        font-size: 15px;
        border: 1px solid #142239;
        &:hover {
            color: black;
            background-color: white;
        }
    }
    .btn-cancel {
        background-color: #dc3545;
        font-size: 15px;
        border: 1px solid #dc3545;
        &:hover {
            color: black;
            background-color: white;
        }
    }
}
/*======================================================Detail Order CSS End======================================================*/
/*======================================================Detail Booking CSS Start======================================================*/
.booking-container {
    font-size: 15px;
    .bill-booking {
        background: #ffe0f4;
        border-bottom: 2px dashed black;
        .table {
            thead {
                tr {
                    border-bottom: 1px solid black;
                    th {
                        background: #ffe0f4 !important;
                    }
                }
            }
            tbody {
                tr {
                    &:last-child {
                        border-bottom: 1px solid black;
                    }
                    td {
                        font-size: 15px;
                        background: #ffe0f4 !important;
                    }
                    .title {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        max-width: 250px;
                    }
                }
            }
        }
    }
    .map-container {
        .note-map {
            text-align: center;
            background: #142239;
            color: white;
            padding: 5px 0;
        }

        .map-border {
            width: 100%;
            height: 310px;
            border: 1px solid #142239;
        }
    }
}

/*======================================================Detail Booking CSS End======================================================*/
/*======================================================Wishlist SprotField & Product Start======================================================*/
.user-border {
    border-radius: 8px;
    padding: 5px;
    border: 1px solid #ddd;
    overflow: hidden;
    font-size: 15px;
    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
    }

    &:hover {
        box-shadow: 0 0 10px #142239;
    }

    &:first-child {
        margin-bottom: 1.5rem;
    }

    .content {
        .title {
            a {
                color: #dc3545;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .address {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 250px;
        }

        .btn-user {
            background: #142239;
            width: 100%;
            color: white;
            border: 1px solid #142239;

            &:hover {
                background: white;
                color: black;
                border: 1px solid #142239;
            }
        }

        .button-product {
            .btn-user-product {
                background: #142239;
                width: 40%;
                color: white;
                border: 1px solid #142239;

                &:hover {
                    background: white;
                    color: black;
                    border: 1px solid #142239;
                }
            }
        }
    }
}

/*======================================================Wishlist SprotField & Product CSS End======================================================*/
/*======================================================Comment CSS Start======================================================*/
.box-comment-container {
    background: #142239;
    color: white;
    padding: 8px;
    border-radius: 8px;

    .box-comment {
        color: white;
        width: 95%;

        &:hover {
            background-color: rgb(161, 161, 161);
            border-radius: 8px;
        }
    }

    .btn-cmt {
        display: flex;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;
    }

    &:last-child {
        margin-bottom: 0px !important;
    }
}

/*======================================================Comment CSS End======================================================*/
/*======================================================Wallet CSS Start======================================================*/
.btn-wallet {
    a {
        background: #dc3545 !important;
        border: 1px solid #dc3545 !important;
        font-size: 14px;
        color: white;
        padding: 8px;
        border-radius: 8px;

        &:hover {
            background: white !important;
            color: black;
        }

        &:last-child {
            margin-left: 10px;
        }
    }
}

.custom-tabs {
    margin-top: 1rem;

    .nav-item {
        flex: 1;
        text-align: center;

        &+.nav-item {
            margin-left: 1.5px;
        }

        &:first-child {
            .nav-link {
                border-radius: 8px 0 0 8px;
            }
        }

        &:last-child {
            .nav-link {
                border-radius: 0 8px 8px 0;
            }
        }

        .nav-link {
            border-radius: 0;
            color: #1a1a1a;
            background-color: #f5f5f5;
            padding: 12px 24px;
            text-align: center;
            font-weight: 600;

            &:hover,
            &.active {
                background-color: #142239;
                /* Màu xanh đậm */
                color: white;
            }
        }
    }
}

/*======================================================Wallet CSS End======================================================*/
/*======================================================Coupon CSS Start======================================================*/
.box-coupon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #142239;
    border-radius: 8px;
    .btn-voucher {
        cursor: pointer;
        text-align: center;
        font-size: 10px;
        border: 1px solid #142239;
        background: #142239;
        color: white;
        border-radius: 8px;
        &:hover {
            color: black;
            background: white;
        }
    }
}

/*======================================================Coupon CSS End======================================================*/