/*======================================================Modal Product CSS Start======================================================*/
/* SCSS màu sản phẩm và nút delete sản phẩm*/
.color-wrapper {
  position: relative;

  .color-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    // border: 2px solid black;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
      cursor: pointer;
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

      // Khi hover vào vòng tròn màu, nút delete cũng nổi bật hơn
      +.button-delete-color {
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }

  .button-delete-color {
    top: -5px;
    right: -5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7e6568; // Background màu đỏ nhạt
    // background-color: #f8d7da; // Background màu đỏ nhạt
    border: none;
    transition: opacity 0.2s, transform 0.2s;
    opacity: 0.7;

    // Hiệu ứng khi hover
    &:hover {
      border: 1px solid #000;
      background-color: #dc3545; // Màu đỏ đậm
      opacity: 1;
    }

    i {
      font-size: 12px; // Kích thước nhỏ hơn của icon
    }
  }
}

/*Kết thúc SCSS màu sản phẩm và nút delete sản phẩm*/

.text-center {
  .avatar-upload {
    display: inline-block;
    position: relative;
    overflow: hidden;

    .avatar-edit {
      position: absolute;
      bottom: -1px;
      width: 100%;
      text-align: center;
      z-index: 9;

      input+label {
        margin-bottom: 0;
        background-color: #000;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        width: 100%;
        color: #fff;
        text-decoration: none;
      }

      input {
        display: none;
      }
    }

    .avatar-preview {
      div {
        width: 20rem; // Có thể thay đổi kích thước theo ý muốn
        height: 20rem; // Đặt chiều cao cố định để hình ảnh không bị méo
        margin: 0 auto;
        background-size: cover; // Đảm bảo hình ảnh được co giãn theo tỷ lệ
        background-repeat: no-repeat;
        background-position: center; // Đặt vị trí hình ảnh ở giữa
        border-radius: 10px; // Thêm bo tròn nếu cần
        border: 1px solid #ccc; // Thêm viền nếu muốn
      }
    }
  }
}

// css avatar logo
// SCSS Avatar Logo
// .image-container {
//   position: relative;
//   width: 100px; // Chiều rộng cố định cho hình ảnh
//   height: 100px; // Chiều cao cố định
//   border: #5c5556;
//   overflow: hidden; // Ẩn phần hình ảnh ra ngoài vùng chứa
//   // background-color: red;

//   img {
//     width: 100%; // Đảm bảo hình ảnh chiếm toàn bộ chiều rộng
//     height: 100%; // Đảm bảo hình ảnh chiếm toàn bộ chiều cao
//     object-fit: cover; // Đảm bảo hình ảnh không bị méo
//     background-color: #ffffff;
//   }
// }
.image-container-new{
  position: relative;
  width: 400px; // Chiều rộng cố định cho hình ảnh
  height: 300px; // Chiều cao cố định
  border: #5c5556;
  overflow: hidden; // Ẩn phần hình ảnh ra ngoài vùng chứa
  // background-color: red;

  img {
    width: 100%; // Đảm bảo hình ảnh chiếm toàn bộ chiều rộng
    height: 100%; // Đảm bảo hình ảnh chiếm toàn bộ chiều cao
    object-fit: cover; // Đảm bảo hình ảnh không bị méo
    background-color: #ffffff;
  }
}
.image-container-preview{
  position: relative;
  width: 100px; // Chiều rộng cố định cho hình ảnh
  height: 100px; // Chiều cao cố định
  

  .preview-img {
    width: 100%; // Đảm bảo hình ảnh chiếm toàn bộ chiều rộng
    height: 100%; // Đảm bảo hình ảnh chiếm toàn bộ chiều cao
    object-fit: cover; // Đảm bảo hình ảnh không bị méo
    background-color: #ffffff;
    box-shadow: 2px 4px 4px rgba(218, 9, 9, 0.2);
  }
}

.file-input {
  display: none; // Ẩn input file
}

.upload-icon {
  position: absolute;
  bottom: 2px; // Đặt ở dưới cùng của hình ảnh
  right: -10px; // Đặt bên phải
  background-color: rgb(168, 163, 163); // Nền cho biểu tượng
  border-radius: 50%; // Hình tròn
  width: 30px; // Đặt chiều rộng cố định
  height: 30px; // Đặt chiều cao cố định
  display: flex; // Sử dụng flex để căn giữa nội dung
  align-items: center; // Căn giữa theo chiều dọc
  justify-content: center; // Căn giữa theo chiều ngang
  cursor: pointer; // Con trỏ khi di chuột vào biểu tượng
  box-shadow: 2px 4px 4px rgba(218, 9, 9, 0.2);

  i {
    font-size: 20px; // Kích thước biểu tượng
    color: white; // Màu biểu tượng
  }
}
.upload-icon-new {
  position: absolute;
  bottom: 2px; // Đặt ở dưới cùng của hình ảnh
  right: 10px; // Đặt bên phải
  background-color: rgb(168, 163, 163); // Nền cho biểu tượng
  border-radius: 50%; // Hình tròn
  width: 30px; // Đặt chiều rộng cố định
  height: 30px; // Đặt chiều cao cố định
  display: flex; // Sử dụng flex để căn giữa nội dung
  align-items: center; // Căn giữa theo chiều dọc
  justify-content: center; // Căn giữa theo chiều ngang
  cursor: pointer; // Con trỏ khi di chuột vào biểu tượng
  box-shadow: 2px 4px 4px rgba(218, 9, 9, 0.2);

  i {
    font-size: 20px; // Kích thước biểu tượng
    color: white; // Màu biểu tượng
  }
}

.preview-image {
  // margin-top: 10px;
  width: 100px; // Chiều rộng cố định cho hình ảnh xem trước
  height: 100px; // Chiều cao cố định cho hình ảnh xem trước

  .preview-img {
    width: 100%; // Đảm bảo hình ảnh xem trước chiếm toàn bộ chiều rộng
    height: 100%; // Đảm bảo hình ảnh xem trước chiếm toàn bộ chiều cao
    object-fit: cover; // Đảm bảo hình ảnh không bị méo
    border-radius: 5px;
    border: 2px solid #898787; /* Thêm chiều rộng và kiểu border */
    overflow: hidden; // Ẩn phần hình ảnh ra ngoài vùng chứa
  }
}

tbody tr:hover {
  background-color: #f1f1f1;
  /* Thay đổi màu nền khi hover */
}

.form-group {
  margin-bottom: 20px;
  /* Tăng khoảng cách giữa các nhóm form */
}

input.is-invalid,
select.is-invalid,
textarea.is-invalid {
  // border-color: #dc3545;
  // background-color: #f8d7da;
}

.nav-item {
  position: relative;
  cursor: pointer;

  .notification {
    cursor: default !important;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    max-height: 500px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(4, 4, 4, 0.1);
    padding: 10px;
    z-index: 1000;
    overflow-y: scroll;
  }
}

.box-comment-container {
  color: white;
  padding: 8px;
  border-radius: 8px;

  .box-comment {
    color: white;
    width: 100%;
    text-decoration: none !important;

    &:hover {
      background-color: rgb(161, 161, 161);
      border-radius: 8px;
    }
  }

  .btn-cmt {
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none !important;
  }

  &:last-child {
    margin-bottom: 0px !important;
  }
}


.section-form-sportField {
  padding: 15px;
  border-radius: 8px;
  height: 100%;

  .title-detail-sportField {
    font-size: 18px;
    position: relative;
    padding-left: 15px;

    &::before {
      width: 4px;
      background-color: #dc3545;
      content: '';
      height: 20px;
      display: inline-block;
      position: absolute;
      top: 3px;
      left: 0;
    }
  }

  .react-datepicker-wrapper {
    display: block !important;
  }

  input,
  select,
  textarea {
    border: 1px solid black;
  }

  .btn-sportField {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #142239;
    background: #142239;
    color: white;
    padding: 10px;
    font-size: 15px;

    &:hover {
      background: white;
      color: black;
      border: 1px solid #142239;
    }
  }
}



.form-floating {
  .react-datepicker-wrapper {
    display: block !important;

    .react-datepicker__input-container {
      .form-control {
        padding-top: 1.625rem;
        padding-bottom: .4rem;
      }
    }
  }
}

.dateLabel {
  color: rgba($color: rgb(33, 37, 41), $alpha: 0.65);
  transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}

/*======================================================Modal Product CSS End======================================================*/